In [1]:
r, c = map(int, input().split())

4 5

In [4]:
dataset = []
for i in range(r):
     dataset.append(list(map(int, input().split())))

1 1 3 4 5
2 2 2 4 5
3 3 0 1 1
2 3 4 4 6

In [15]:
for data in dataset:
    data.append(sum(data))

In [21]:
total_data = []
for row in range(c+1):
    total_data.append(sum([data[row] for data in dataset]))
dataset.append(total_data)

In [25]:
for data in dataset:
    print(" ".join(map(str, data)))

1 1 3 4 5 14
2 2 2 4 5 15
3 3 0 1 1 8
2 3 4 4 6 19
8 9 9 13 17 56